@font-face {
  font-family: 'Mazzard H';
  src: url("../fonts/mazzard/MazzardH-Bold.woff2") format("woff2"), url("../fonts/mazzard/MazzardH-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Mazzard H';
  src: url("../fonts/mazzard/MazzardH-Regular.woff2") format("woff2"), url("../fonts/mazzard/MazzardH-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body {
  margin: 0;
  width: 100%;
  overflow-x: hidden; }

body {
  font-family: "Mazzard H", sans-serif;
  position: relative;
  /*line-height: 32px;*/
  font-size: 18px; }

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

p {
  margin: 0;
  padding: 0; }

input,
textarea,
button {
  outline: none;
  -webkit-appearance: none; }
  input:focus,
  textarea:focus,
  button:focus {
    outline: none; }

textarea {
  resize: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px; }

.padb0 {
  padding-bottom: 0 !important; }

@-webkit-keyframes slideDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slideDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes slideOut {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px); } }

@keyframes slideOut {
  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  to {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px); } }

@-webkit-keyframes prevBtn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes prevBtn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media screen and (max-width: 576px) {
  .container {
    padding: 0 35px; } }

.quiz-intro {
  background-image: url(../img/intro-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh; }
  .quiz-intro:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(18, 18, 17, 0.9); }
  .quiz-intro__wrap {
    padding-bottom: 70px; }
  .quiz-intro__header {
    padding: 60px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 130px;
    position: relative;
    z-index: 1; }
  .quiz-intro__logo {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
    -webkit-animation: slideDown 0.7s forwards ease-out;
    animation: slideDown 0.7s forwards ease-out;
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  .quiz-intro__link {
    font-size: 21px;
    line-height: 145%;
    color: #808080;
    opacity: 0.85;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
    -webkit-animation: slideDown 0.7s forwards ease-out;
    animation: slideDown 0.7s forwards ease-out;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s; }
  .quiz-intro__title {
    font-size: 64px;
    line-height: 100%;
    font-weight: 700;
    color: #fbfbfb;
    max-width: 668px;
    position: relative;
    z-index: 1;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
    -webkit-animation: slideDown 0.7s forwards ease-out;
    animation: slideDown 0.7s forwards ease-out;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s; }
  .quiz-intro__subtitle {
    font-size: 38px;
    line-height: 150%;
    font-weight: 700;
    color: #fbfbfb;
    max-width: 658px;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding-right: 40px;
    margin-bottom: 100px;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
    -webkit-animation: slideDown 0.7s forwards ease-out;
    animation: slideDown 0.7s forwards ease-out;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s; }
    .quiz-intro__subtitle:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-image: url(../img/icons/title-placemark.svg);
      width: 26px;
      height: 36px; }
  .quiz-intro__text {
    position: relative;
    max-width: 400px;
    z-index: 1;
    color: #ffffff;
    font-size: 21px;
    line-height: 140%;
    margin-bottom: 40px;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
    -webkit-animation: slideDown 0.7s forwards ease-out;
    animation: slideDown 0.7s forwards ease-out;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s; }
  .quiz-intro__btn {
    display: inline-block;
    padding: 17px 65px;
    position: relative;
    z-index: 1;
    font-size: 21px;
    line-height: 96%;
    color: #ffffff;
    text-transform: lowercase;
    border: 2px solid #7A7A7A;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
    -webkit-animation: slideDown 0.7s forwards ease-out;
    animation: slideDown 0.7s forwards ease-out;
    -webkit-animation-delay: 2s;
    animation-delay: 2s; }
  .quiz-intro__advantages {
    display: none;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 0;
    position: relative;
    z-index: 1; }
    .quiz-intro__advantages.visible {
      display: block;
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      opacity: 0;
      -webkit-animation: slideDown 0.7s forwards ease-out;
      animation: slideDown 0.7s forwards ease-out;
      margin-bottom: 70px; }
  .quiz-intro__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    margin-top: 250px;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
    -webkit-animation: slideDown 0.7s forwards ease-out;
    animation: slideDown 0.7s forwards ease-out;
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s; }
    .quiz-intro__row_mobile {
      display: block;
      max-width: 388px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0; }
      .quiz-intro__row_mobile .slick-list {
        overflow: visible; }
      .quiz-intro__row_mobile .slick-slide {
        max-width: 230px;
        position: relative;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        outline: none;
        -webkit-box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.43);
        box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.43); }
        .quiz-intro__row_mobile .slick-slide:nth-of-type(1) {
          z-index: 5;
          -webkit-transform: translateX(0);
          transform: translateX(0);
          -webkit-filter: blur(0);
          filter: blur(0); }
        .quiz-intro__row_mobile .slick-slide:nth-of-type(2) {
          -webkit-transform: translateX(-178px) scale(0.9);
          transform: translateX(-178px) scale(0.9);
          z-index: 4;
          -webkit-filter: blur(2px);
          filter: blur(2px); }
        .quiz-intro__row_mobile .slick-slide:nth-of-type(3) {
          -webkit-transform: translateX(-356px) scale(0.8);
          transform: translateX(-356px) scale(0.8);
          z-index: 3;
          -webkit-filter: blur(2px);
          filter: blur(2px); }
        .quiz-intro__row_mobile .slick-slide:nth-of-type(4) {
          -webkit-transform: translateX(-534px) scale(0.7);
          transform: translateX(-534px) scale(0.7);
          z-index: 2;
          -webkit-filter: blur(3px);
          filter: blur(3px); }
        .quiz-intro__row_mobile .slick-slide:nth-of-type(5) {
          -webkit-transform: translateX(-712px) scale(0.6);
          transform: translateX(-712px) scale(0.6);
          z-index: 1;
          -webkit-filter: blur(3px);
          filter: blur(3px); }
        .quiz-intro__row_mobile .slick-slide.hidden {
          opacity: 0; }
        .quiz-intro__row_mobile .slick-slide.first {
          z-index: 5;
          -webkit-transform: translateX(0);
          transform: translateX(0);
          -webkit-filter: blur(0);
          filter: blur(0); }
        .quiz-intro__row_mobile .slick-slide.second {
          -webkit-transform: translateX(-178px) scale(0.9);
          transform: translateX(-178px) scale(0.9);
          z-index: 4;
          -webkit-filter: blur(2px);
          filter: blur(2px); }
        .quiz-intro__row_mobile .slick-slide.third {
          -webkit-transform: translateX(-356px) scale(0.8);
          transform: translateX(-356px) scale(0.8);
          z-index: 3;
          -webkit-filter: blur(2px);
          filter: blur(2px); }
        .quiz-intro__row_mobile .slick-slide.fourth {
          -webkit-transform: translateX(-534px) scale(0.7);
          transform: translateX(-534px) scale(0.7);
          z-index: 2;
          -webkit-filter: blur(3px);
          filter: blur(3px); }
        .quiz-intro__row_mobile .slick-slide.fifth {
          -webkit-transform: translateX(-712px) scale(0.6);
          transform: translateX(-712px) scale(0.6);
          z-index: 1;
          -webkit-filter: blur(3px);
          filter: blur(3px); }
      .quiz-intro__row_mobile .quiz-intro__row__item {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        border: none;
        height: 360px;
        padding: 15px;
        position: relative;
        background-size: cover;
        background-position: center center;
        margin: 0; }
        .quiz-intro__row_mobile .quiz-intro__row__item:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(60, 60, 60, 0.75); }
        .quiz-intro__row_mobile .quiz-intro__row__item_one {
          background-image: url(../img/intro-item-bg1.jpg); }
        .quiz-intro__row_mobile .quiz-intro__row__item_two {
          background-image: url(../img/intro-item-bg2.jpg); }
        .quiz-intro__row_mobile .quiz-intro__row__item_three {
          background-image: url(../img/intro-item-bg3.jpg); }
        .quiz-intro__row_mobile .quiz-intro__row__item_four {
          background-image: url(../img/intro-item-bg4.jpg); }
        .quiz-intro__row_mobile .quiz-intro__row__item_five {
          background-image: url(../img/intro-item-bg5.jpg); }
      .quiz-intro__row_mobile .quiz-intro__row__item__number {
        font-size: 136px;
        line-height: 96%;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 700;
        position: relative;
        z-index: 2;
        height: auto; }
        .quiz-intro__row_mobile .quiz-intro__row__item__number:after {
          display: none; }
      .quiz-intro__row_mobile .quiz-intro__row__item__text {
        padding-top: 0;
        font-size: 21px;
        line-height: 96%;
        font-weight: 700;
        color: #ffffff;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        position: relative;
        z-index: 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        height: 145px;
        margin: 16px -15px;
        padding: 0 15px 15px;
        background: -webkit-gradient(linear, left bottom, left top, color-stop(8.21%, rgba(32, 29, 26, 0.3723)), to(rgba(33, 31, 28, 0)));
        background: linear-gradient(0deg, rgba(32, 29, 26, 0.3723) 8.21%, rgba(33, 31, 28, 0) 100%); }
        .quiz-intro__row_mobile .quiz-intro__row__item__text:before {
          display: none; }
  .quiz-intro__row__item {
    -ms-flex-preferred-size: calc(100% / 5);
    flex-basis: calc(100% / 5);
    border-left: 2px solid #474747;
    padding: 40px 20px; }
    .quiz-intro__row__item:last-of-type {
      border-right: 2px solid #474747; }
    .quiz-intro__row__item:hover .quiz-intro__row__item__number:before {
      opacity: 1; }
    .quiz-intro__row__item:hover .quiz-intro__row__item__number:after {
      -webkit-box-shadow: 0px 0px 5px rgba(241, 165, 17, 0.24), 0px 0px 7px rgba(255, 255, 255, 0.72);
      box-shadow: 0px 0px 5px rgba(241, 165, 17, 0.24), 0px 0px 7px rgba(255, 255, 255, 0.72); }
    .quiz-intro__row__item:hover .quiz-intro__row__item__text {
      text-shadow: 0px 0px 5px rgba(241, 165, 17, 0.24), 0px 0px 7px rgba(255, 255, 255, 0.72); }
  .quiz-intro__row__item__number {
    display: block;
    position: relative;
    padding-bottom: 54px;
    height: 117px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .quiz-intro__row__item__number_one:before {
      width: 59px;
      height: 102px;
      background-image: url(../img/intro-item1-hover.png); }
    .quiz-intro__row__item__number_two:before {
      width: 81px;
      height: 104px;
      background-image: url(../img/intro-item2-hover.png); }
    .quiz-intro__row__item__number_three:before {
      width: 84px;
      height: 106px;
      background-image: url(../img/intro-item3-hover.png); }
    .quiz-intro__row__item__number_four:before {
      width: 89px;
      height: 102px;
      background-image: url(../img/intro-item4-hover.png); }
    .quiz-intro__row__item__number_five:before {
      width: 85px;
      height: 104px;
      background-image: url(../img/intro-item5-hover.png); }
    .quiz-intro__row__item__number:before {
      content: '';
      position: absolute;
      top: -7px;
      left: -7px;
      opacity: 0;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .quiz-intro__row__item__number:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #5B5656;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
  .quiz-intro__row__item__text {
    padding-top: 110px;
    font-size: 21px;
    line-height: 96%;
    color: rgba(245, 245, 245, 0.87);
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .quiz-intro__bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1; }
  .quiz-intro__about-btn {
    display: none;
    font-size: 20px;
    line-height: 24px;
    color: #C5C4C4;
    text-align: center;
    padding: 10px 0; }
    .quiz-intro__about-btn span {
      display: block; }
    .quiz-intro__about-btn__icon {
      position: relative;
      display: block;
      width: 32px;
      height: 32px;
      border-radius: 50px;
      border: 2px solid #C5C4C4;
      text-align: center;
      line-height: 36px;
      margin: 8px auto 0; }
  .quiz-intro__bottom__phone {
    display: none;
    width: 31px;
    height: 35px;
    margin: 80px auto 44px; }
    .quiz-intro__bottom__phone.visible {
      display: block !important; }
  .quiz-intro__bottom__link {
    display: none;
    margin: 0 auto;
    text-align: center;
    max-width: 160px;
    font-size: 21px;
    line-height: 96%;
    color: rgba(255, 255, 255, 0.91); }
    .quiz-intro__bottom__link.visible {
      display: block !important; }

@media screen and (max-width: 1440px) {
  .quiz-intro__header {
    margin-bottom: 100px; }
  .quiz-intro__title {
    font-size: 45px;
    max-width: 668px; }
  .quiz-intro__subtitle {
    font-size: 30px;
    margin-bottom: 50px; }
  .quiz-intro__text {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 30px; }
  .quiz-intro__btn {
    font-size: 18px;
    line-height: 96%; }
  .quiz-intro__row {
    margin-top: 100px; }
    .quiz-intro__row_mobile {
      margin-top: 0; }
  .quiz-intro__row__item__text {
    padding-top: 50px;
    font-size: 18px; } }

@media screen and (max-width: 1200px) {
  .quiz-intro__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .quiz-intro__row__item {
    -ms-flex-preferred-size: calc(100% / 3);
    flex-basis: calc(100% / 3);
    border-left: 2px solid #474747;
    padding: 40px 20px;
    margin-bottom: 35px; }
    .quiz-intro__row__item:last-of-type {
      border-right: none; }
    .quiz-intro__row__item:hover .quiz-intro__row__item__number:before {
      opacity: 0; }
    .quiz-intro__row__item:hover .quiz-intro__row__item__number:after {
      -webkit-box-shadow: none;
      box-shadow: none; }
    .quiz-intro__row__item:hover .quiz-intro__row__item__text {
      text-shadow: none; } }

@media screen and (max-width: 992px) {
  .quiz-intro__logo {
    -webkit-animation: none;
    animation: none;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  .quiz-intro__link {
    -webkit-animation: none;
    animation: none;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  .quiz-intro__title {
    -webkit-animation: none;
    animation: none;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  .quiz-intro__subtitle {
    -webkit-animation: none;
    animation: none;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  .quiz-intro__text {
    -webkit-animation: none;
    animation: none;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  .quiz-intro__btn {
    -webkit-animation: none;
    animation: none;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  .quiz-intro__row {
    -webkit-animation: none;
    animation: none;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@media screen and (max-width: 768px) {
  .quiz-intro__row__item {
    -ms-flex-preferred-size: calc(100% / 2);
    flex-basis: calc(100% / 2); } }

@media screen and (max-width: 576px) {
  .quiz-intro__wrap {
    padding-bottom: 80px;
    min-height: 100vh; }
  .quiz-intro__header {
    padding: 36px 0 0;
    margin-bottom: 10vh; }
  .quiz-intro__link {
    display: none; }
  .quiz-intro__content.hiding {
    -webkit-animation: slideOut 0.7s forwards linear;
    animation: slideOut 0.7s forwards linear; }
  .quiz-intro__content.hidden {
    display: none; }
  .quiz-intro__title {
    font-size: 30px;
    max-width: 668px; }
  .quiz-intro__subtitle {
    font-size: 18px;
    line-height: 200%;
    margin-bottom: 4vh; }
  .quiz-intro__text {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 4vh; }
  .quiz-intro__btn {
    display: block;
    padding: 17px;
    text-align: center; }
  .quiz-intro__about-btn {
    display: block; }
  .quiz-intro__row {
    display: none; }
    .quiz-intro__row_mobile {
      display: block; }
  .quiz-intro__row__item {
    -ms-flex-preferred-size: calc(100% / 2);
    flex-basis: calc(100% / 2); } }

@media screen and (max-width: 460px) {
  .quiz-intro__row_mobile {
    max-width: 388px; }
    .quiz-intro__row_mobile .slick-slide {
      max-width: 210px; }
      .quiz-intro__row_mobile .slick-slide:nth-of-type(1) {
        -webkit-transform: translateX(0);
        transform: translateX(0); }
      .quiz-intro__row_mobile .slick-slide:nth-of-type(2) {
        -webkit-transform: translateX(-173px) scale(0.9);
        transform: translateX(-173px) scale(0.9); }
      .quiz-intro__row_mobile .slick-slide:nth-of-type(3) {
        -webkit-transform: translateX(-346px) scale(0.8);
        transform: translateX(-346px) scale(0.8); }
      .quiz-intro__row_mobile .slick-slide:nth-of-type(4) {
        -webkit-transform: translateX(-519px) scale(0.7);
        transform: translateX(-519px) scale(0.7); }
      .quiz-intro__row_mobile .slick-slide:nth-of-type(5) {
        -webkit-transform: translateX(-692px) scale(0.6);
        transform: translateX(-692px) scale(0.6); }
      .quiz-intro__row_mobile .slick-slide.first {
        -webkit-transform: translateX(0);
        transform: translateX(0); }
      .quiz-intro__row_mobile .slick-slide.second {
        -webkit-transform: translateX(-173px) scale(0.9);
        transform: translateX(-173px) scale(0.9); }
      .quiz-intro__row_mobile .slick-slide.third {
        -webkit-transform: translateX(-346px) scale(0.8);
        transform: translateX(-346px) scale(0.8); }
      .quiz-intro__row_mobile .slick-slide.fourth {
        -webkit-transform: translateX(-519px) scale(0.7);
        transform: translateX(-519px) scale(0.7); }
      .quiz-intro__row_mobile .slick-slide.fifth {
        -webkit-transform: translateX(-692px) scale(0.6);
        transform: translateX(-692px) scale(0.6); }
    .quiz-intro__row_mobile .quiz-intro__row__item {
      height: 280px; }
    .quiz-intro__row_mobile .quiz-intro__row__item__text {
      height: 120px;
      font-size: 18px; }
  .quiz-intro__row__item__number {
    display: block;
    position: relative;
    padding-bottom: 0;
    height: 117px;
    -webkit-transition: 0.3s;
    transition: 0.3s; } }

.quiz__wrap {
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  position: relative; }
  .quiz__wrap:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #121211;
    opacity: 0.65;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .quiz__wrap.change {
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .quiz__wrap.change:after {
      opacity: 1;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
  .quiz__wrap.last-steps .quiz__footer-next {
    display: none; }

.quiz__content {
  width: 100%;
  max-width: 826px;
  min-height: 100vh;
  background: rgba(18, 18, 17, 0.75);
  position: relative;
  z-index: 1;
  padding: 0px 134px 150px 90px; }

.quiz__header {
  padding: 40px 0 25px;
  margin-bottom: 5vh;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  opacity: 0;
  -webkit-animation: slideDown 0.7s forwards ease-out;
  animation: slideDown 0.7s forwards ease-out;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

.quiz__form-step {
  display: none; }
  .quiz__form-step_offer .quiz__form-step-title {
    margin-bottom: 10px;
    margin-top: 15vh;
    font-size: 40px;
    line-height: 100%; }
  .quiz__form-step_offer .quiz__form-step-subtitle {
    margin-bottom: 40px; }
  .quiz__form-step_offer .quiz__form-btn {
    border: 2px solid #B9B9B9;
    font-size: 24px;
    line-height: 96%;
    text-align: center;
    color: #B5B5B5;
    display: block;
    max-width: 376px;
    padding: 10px;
    margin-bottom: 0; }
  .quiz__form-step_callback .quiz__form-step-title {
    margin-bottom: 30px;
    margin-top: 12vh;
    font-size: 51px;
    line-height: 100%; }
  .quiz__form-step_callback .quiz__form-step-subtitle {
    margin-bottom: 6vh;
    font-size: 21px;
    line-height: 100%; }
  .quiz__form-step_callback .quiz__form-btn {
    border: 2px solid #B9B9B9;
    font-size: 24px;
    line-height: 96%;
    text-align: center;
    color: #B5B5B5;
    display: block;
    max-width: 376px;
    padding: 10px;
    margin-bottom: 36px; }

.quiz__form-step--active {
  display: block;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  opacity: 0;
  -webkit-animation: slideDown 0.7s forwards ease-out;
  animation: slideDown 0.7s forwards ease-out;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.quiz__form-step-title {
  max-width: 500px;
  font-size: 38px;
  line-height: 100%;
  font-weight: 700;
  margin-bottom: 5vh;
  color: #FBFBFB; }

.quiz__form-step-subtitle {
  color: #FBFBFB;
  font-weight: 400; }
  .quiz__form-step-subtitle_offer {
    font-size: 30px;
    line-height: 100%; }
  .quiz__form-step-subtitle_callback {
    font-size: 21px;
    line-height: 100%; }

.quiz__form-label {
  display: block;
  margin-bottom: 30px;
  max-width: 588px; }
  .quiz__form-label:nth-last-of-type(1) {
    margin-bottom: 0; }

.quiz__form-name {
  font-size: 21px;
  line-height: 100%;
  color: #FBFBFB;
  display: block;
  font-weight: 400; }

.quiz__form-input {
  background: none;
  border: none;
  border-bottom: 2px solid rgba(247, 247, 247, 0.35);
  padding: 14px 0;
  font-size: 19px;
  line-height: 145%;
  color: #B6B6B6;
  width: 100%;
  text-align: left;
  font-family: "Mazzard H", sans-serif; }

.quiz__form-textarea {
  padding: 20px;
  border: 2px solid #7A7A7A;
  background: none;
  width: 100%;
  height: 270px;
  color: #ffffff;
  font-size: 21px;
  line-height: 96%; }

.quiz__form-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px; }
  .quiz__form-checkbox:checked + .quiz__form-checkbox-text {
    -webkit-box-shadow: 0px 0px 7px 0px #F49033, inset 0px 0px 7px 0px #F49033;
    box-shadow: 0px 0px 7px 0px #F49033, inset 0px 0px 7px 0px #F49033;
    text-shadow: 0px 0px 5px #F49033; }
    .quiz__form-checkbox:checked + .quiz__form-checkbox-text:after {
      content: '';
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.53), inset 0px 0px 2px 0px rgba(255, 255, 255, 0.53);
      box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.53), inset 0px 0px 2px 0px rgba(255, 255, 255, 0.53); }

.quiz__form-checkbox-text {
  font-size: 21px;
  line-height: 96%;
  color: #ffffff;
  cursor: pointer;
  display: block;
  border: 2px solid #7A7A7A;
  width: 100%;
  max-width: 588px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 12px;
  text-align: center;
  position: relative;
  z-index: 1; }
  .quiz__form-checkbox-text:after {
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .quiz__form-checkbox-text:hover {
    -webkit-box-shadow: 0px 0px 7px 0px #F49033, inset 0px 0px 7px 0px #F49033;
    box-shadow: 0px 0px 7px 0px #F49033, inset 0px 0px 7px 0px #F49033;
    text-shadow: 0px 0px 5px #F49033; }
    .quiz__form-checkbox-text:hover:after {
      content: '';
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.53), inset 0px 0px 2px 0px rgba(255, 255, 255, 0.53);
      box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.53), inset 0px 0px 2px 0px rgba(255, 255, 255, 0.53); }

.quiz__form-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px; }
  .quiz__form-radio:checked + .quiz__form-radio-text {
    -webkit-box-shadow: 0px 0px 7px 0px #F49033, inset 0px 0px 7px 0px #F49033;
    box-shadow: 0px 0px 7px 0px #F49033, inset 0px 0px 7px 0px #F49033;
    text-shadow: 0px 0px 5px #F49033; }
    .quiz__form-radio:checked + .quiz__form-radio-text:after {
      content: '';
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.53), inset 0px 0px 2px 0px rgba(255, 255, 255, 0.53);
      box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.53), inset 0px 0px 2px 0px rgba(255, 255, 255, 0.53); }

.quiz__form-radio-text {
  font-size: 21px;
  line-height: 96%;
  color: #ffffff;
  text-transform: lowercase;
  cursor: pointer;
  display: block;
  border: 2px solid #B9B9B9;
  width: 100%;
  max-width: 466px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 15px 12px;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  color: #B5B5B5; }
  .quiz__form-radio-text:hover {
    -webkit-box-shadow: 0px 0px 7px 0px #F49033, inset 0px 0px 7px 0px #F49033;
    box-shadow: 0px 0px 7px 0px #F49033, inset 0px 0px 7px 0px #F49033;
    text-shadow: 0px 0px 5px #F49033; }
    .quiz__form-radio-text:hover:after {
      content: '';
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.53), inset 0px 0px 2px 0px rgba(255, 255, 255, 0.53);
      box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.53), inset 0px 0px 2px 0px rgba(255, 255, 255, 0.53); }

.quiz__form-submit {
  font-family: "Mazzard H", sans-serif;
  width: 100%;
  max-width: 588px;
  height: 46px;
  text-align: center;
  font-size: 21px;
  line-height: 96%;
  color: #B5B5B5;
  background-color: rgba(255, 255, 255, 0.18);
  border: none;
  margin-top: 30px;
  cursor: pointer; }

.quiz__form-agree {
  display: block;
  max-width: 588px;
  color: #FBFBFB;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  margin-top: 20px; }

.quiz__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  left: 90px;
  bottom: 57px;
  width: 100%;
  max-width: 588px;
  z-index: 2;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  opacity: 0;
  -webkit-animation: slideDown 0.7s forwards ease-out;
  animation: slideDown 0.7s forwards ease-out;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

.quiz__footer-btns {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.quiz__footer-prev {
  display: block;
  opacity: 0;
  font-size: 24px;
  line-height: 96%;
  color: #ffffff;
  text-align: center;
  margin-right: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative; }
  .quiz__footer-prev.visible {
    display: block;
    opacity: 1; }
    .quiz__footer-prev.visible:after {
      width: 600px;
      -webkit-transition-delay: 1s;
      transition-delay: 1s; }
  .quiz__footer-prev:after {
    content: '';
    position: absolute;
    right: -10px;
    bottom: -10px;
    height: 2px;
    width: 0;
    background-color: #ffffff;
    -webkit-transition: 1s;
    transition: 1s; }
  .quiz__footer-prev:hover:after {
    width: 97px; }

.quiz__footer-next {
  font-family: "Mazzard H", sans-serif;
  font-size: 24px;
  line-height: 96%;
  color: #1C1916;
  background-color: rgba(255, 255, 255, 0.35);
  padding: 12px;
  display: block;
  width: 338px;
  max-width: 338px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: auto;
  margin-right: 0;
  text-align: center; }

.quiz__advantages {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 826px);
  height: 100%;
  padding: 70px 35px 40px;
  z-index: 2;
  display: none; }
  .quiz__advantages.active {
    display: block; }
    .quiz__advantages.active .quiz__advantages__item {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px);
      opacity: 0;
      -webkit-animation: slideDown 0.7s forwards ease-out;
      animation: slideDown 0.7s forwards ease-out; }
      .quiz__advantages.active .quiz__advantages__item:nth-of-type(1) {
        -webkit-animation-delay: 1.1s;
        animation-delay: 1.1s; }
      .quiz__advantages.active .quiz__advantages__item:nth-of-type(2) {
        -webkit-animation-delay: 1.2s;
        animation-delay: 1.2s; }
      .quiz__advantages.active .quiz__advantages__item:nth-of-type(3) {
        -webkit-animation-delay: 1.3s;
        animation-delay: 1.3s; }
      .quiz__advantages.active .quiz__advantages__item:nth-of-type(4) {
        -webkit-animation-delay: 1.4s;
        animation-delay: 1.4s; }
      .quiz__advantages.active .quiz__advantages__item:nth-of-type(5) {
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s; }

.quiz__advantages__item {
  position: absolute;
  background: rgba(15, 15, 15, 0.5);
  padding: 40px 30px;
  width: 233px;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .quiz__advantages__item:hover {
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 3; }
  .quiz__advantages__item:nth-of-type(1) {
    left: 35px;
    right: 500px;
    top: 8vh;
    margin: auto; }
  .quiz__advantages__item:nth-of-type(2) {
    right: 35px;
    left: 450px;
    top: 22vh;
    margin: auto; }
  .quiz__advantages__item:nth-of-type(3) {
    left: 35px;
    top: 20vh;
    bottom: 0;
    height: 342px;
    right: 145px;
    margin: auto; }
  .quiz__advantages__item:nth-of-type(4) {
    right: 35px;
    left: 400px;
    bottom: 80px;
    margin: auto; }
  .quiz__advantages__item:nth-of-type(5) {
    left: 35px;
    right: 450px;
    top: auto;
    bottom: 40px;
    margin: auto; }

.quiz__advantages__item__number {
  text-align: right;
  padding-bottom: 20px;
  height: 117px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative; }
  .quiz__advantages__item__number:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #A3A3A3;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.quiz__advantages__item__text {
  font-size: 18px;
  line-height: 96%;
  color: rgba(245, 245, 245, 0.87);
  padding-top: 60px; }

.quiz__advantages_mobile {
  display: none;
  position: static;
  padding: 0;
  width: 100%;
  max-width: 500px;
  margin-top: 40px; }
  .quiz__advantages_mobile .slick-list {
    overflow: visible; }
  .quiz__advantages_mobile .slick-slide {
    max-width: 230px;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    outline: none;
    -webkit-box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.43);
    box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.43); }
    .quiz__advantages_mobile .slick-slide:nth-of-type(1) {
      z-index: 5;
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-filter: blur(0);
      filter: blur(0); }
    .quiz__advantages_mobile .slick-slide:nth-of-type(2) {
      -webkit-transform: translateX(-155px) scale(0.9);
      transform: translateX(-155px) scale(0.9);
      z-index: 4;
      -webkit-filter: blur(2px);
      filter: blur(2px); }
    .quiz__advantages_mobile .slick-slide:nth-of-type(3) {
      -webkit-transform: translateX(-310px) scale(0.8);
      transform: translateX(-310px) scale(0.8);
      z-index: 3;
      -webkit-filter: blur(2px);
      filter: blur(2px); }
    .quiz__advantages_mobile .slick-slide:nth-of-type(4) {
      -webkit-transform: translateX(-465px) scale(0.7);
      transform: translateX(-465px) scale(0.7);
      z-index: 2;
      -webkit-filter: blur(3px);
      filter: blur(3px); }
    .quiz__advantages_mobile .slick-slide:nth-of-type(5) {
      -webkit-transform: translateX(-620px) scale(0.6);
      transform: translateX(-620px) scale(0.6);
      z-index: 1;
      -webkit-filter: blur(3px);
      filter: blur(3px); }
    .quiz__advantages_mobile .slick-slide.hidden {
      opacity: 0; }
    .quiz__advantages_mobile .slick-slide.first {
      z-index: 5;
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-filter: blur(0);
      filter: blur(0); }
    .quiz__advantages_mobile .slick-slide.second {
      -webkit-transform: translateX(-155px) scale(0.9);
      transform: translateX(-155px) scale(0.9);
      z-index: 4;
      -webkit-filter: blur(2px);
      filter: blur(2px); }
    .quiz__advantages_mobile .slick-slide.third {
      -webkit-transform: translateX(-310px) scale(0.8);
      transform: translateX(-310px) scale(0.8);
      z-index: 3;
      -webkit-filter: blur(2px);
      filter: blur(2px); }
    .quiz__advantages_mobile .slick-slide.fourth {
      -webkit-transform: translateX(-465px) scale(0.7);
      transform: translateX(-465px) scale(0.7);
      z-index: 2;
      -webkit-filter: blur(3px);
      filter: blur(3px); }
    .quiz__advantages_mobile .slick-slide.fifth {
      -webkit-transform: translateX(-620px) scale(0.6);
      transform: translateX(-620px) scale(0.6);
      z-index: 1;
      -webkit-filter: blur(3px);
      filter: blur(3px); }
  .quiz__advantages_mobile .quiz__advantages__item {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-animation: none;
    animation: none;
    -webkit-filter: blur(0);
    filter: blur(0);
    border: none;
    height: 360px;
    padding: 15px;
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    background-size: cover;
    background-position: center center;
    margin: 0; }
    .quiz__advantages_mobile .quiz__advantages__item:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(60, 60, 60, 0.75); }
    .quiz__advantages_mobile .quiz__advantages__item_one {
      background-image: url(../img/intro-item-bg1.jpg); }
    .quiz__advantages_mobile .quiz__advantages__item_two {
      background-image: url(../img/intro-item-bg2.jpg); }
    .quiz__advantages_mobile .quiz__advantages__item_three {
      background-image: url(../img/intro-item-bg3.jpg); }
    .quiz__advantages_mobile .quiz__advantages__item_four {
      background-image: url(../img/intro-item-bg4.jpg); }
    .quiz__advantages_mobile .quiz__advantages__item_five {
      background-image: url(../img/intro-item-bg5.jpg); }
  .quiz__advantages_mobile .quiz__advantages__item__number {
    font-size: 136px;
    line-height: 96%;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    position: relative;
    z-index: 2;
    height: auto;
    padding-bottom: 55px; }
    .quiz__advantages_mobile .quiz__advantages__item__number:after {
      display: none; }
  .quiz__advantages_mobile .quiz__advantages__item__text {
    padding-top: 0;
    font-size: 21px;
    line-height: 96%;
    font-weight: 700;
    color: #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 145px;
    margin: 16px -15px;
    padding: 0 15px 15px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(8.21%, rgba(32, 29, 26, 0.3723)), to(rgba(33, 31, 28, 0)));
    background: linear-gradient(0deg, rgba(32, 29, 26, 0.3723) 8.21%, rgba(33, 31, 28, 0) 100%); }
    .quiz__advantages_mobile .quiz__advantages__item__text:before {
      display: none; }

@media screen and (max-width: 1440px) {
  .quiz__wrap.change {
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .quiz__wrap.change:after {
      opacity: 1;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
  .quiz__form-step_offer .quiz__form-btn {
    margin-bottom: 0; }
  .quiz__form-step_callback .quiz__form-step-title {
    margin-top: 0; }
  .quiz__form-step_callback .quiz__form-btn {
    margin-bottom: 36px; }
  .quiz__advantages.active {
    display: none; }
  .quiz__advantages_mobile {
    display: block; } }

@media screen and (max-width: 1200px) {
  .quiz__header {
    padding: 36px 0 25px; }
  .quiz__content {
    padding: 0px 134px 120px 90px; }
  .quiz__form-step_offer .quiz__form-step-title {
    margin-top: 0;
    font-size: 36px; }
  .quiz__form-step_offer .quiz__form-step-subtitle {
    margin-bottom: 10vh;
    font-size: 28px; }
  .quiz__form-step_offer .quiz__form-btn {
    font-size: 21px; }
  .quiz__form-step_callback .quiz__form-step-title {
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 36px;
    line-height: 100%; }
  .quiz__form-step_callback .quiz__form-step-subtitle {
    margin-bottom: 6vh;
    font-size: 21px;
    line-height: 100%; }
  .quiz__form-step_callback .quiz__form-btn {
    border: 2px solid #B9B9B9;
    font-size: 24px;
    line-height: 96%;
    text-align: center;
    color: #B5B5B5;
    display: block;
    max-width: 376px;
    padding: 10px;
    margin-bottom: 36px; }
  .quiz__form-step-title {
    font-size: 30px; }
  .quiz__form-name {
    font-size: 18px; }
  .quiz__form-input {
    font-size: 16px; }
  .quiz__form-checkbox-text {
    font-size: 18px;
    padding: 10px; }
  .quiz__form-submit {
    font-size: 18px; }
  .quiz__footer {
    bottom: 36px; }
  .quiz__footer-prev {
    font-size: 21px; }
  .quiz__footer-next {
    font-size: 21px; } }

@media screen and (max-width: 992px) {
  .quiz__content {
    width: 100%;
    max-width: none; }
  .quiz__wrap:after {
    background-color: #121211;
    opacity: 0.25;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .quiz__wrap:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 240px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.79)), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.79) 0%, rgba(0, 0, 0, 0) 100%); }
  .quiz__wrap.change {
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .quiz__wrap.change:after {
      opacity: 1;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
  .quiz__header {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-animation: none;
    animation: none; }
  .quiz__form-step-title {
    font-size: 24px; }
  .quiz__form-label {
    margin-bottom: 20px; }
  .quiz__form-checkbox:checked + .quiz__form-checkbox-text {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    background: rgba(203, 152, 92, 0.43);
    border: 2px solid #AFAFAF; }
    .quiz__form-checkbox:checked + .quiz__form-checkbox-text:after {
      display: none; }
  .quiz__form-checkbox-text {
    font-size: 18px;
    line-height: 96%;
    border: 2px solid #7A7A7A; }
    .quiz__form-checkbox-text:hover {
      -webkit-box-shadow: none;
      box-shadow: none;
      text-shadow: none; }
      .quiz__form-checkbox-text:hover:after {
        display: none; }
  .quiz__footer {
    width: calc(100% - 90px);
    max-width: none;
    padding-right: 134px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-animation: none;
    animation: none; } }

@media screen and (max-width: 768px) {
  .quiz__content {
    padding: 0px 35px 120px; }
  .quiz__footer {
    width: calc(100% - 35px);
    max-width: none;
    padding-right: 35px;
    left: 35px; } }

@media screen and (max-width: 576px) {
  .quiz__header {
    padding: 36px 0 0; }
  .quiz__wrap.last-steps .quiz__content {
    padding: 0px 35px 110px 35px; }
  .quiz__form-step_offer .quiz__form-step-title {
    margin-bottom: 10px;
    font-size: 30px;
    margin-top: 0; }
  .quiz__form-step_offer .quiz__form-step-subtitle {
    margin-bottom: 40px;
    font-size: 18px; }
  .quiz__form-step_offer .quiz__form-btn {
    margin-bottom: 0;
    font-size: 21px; }
  .quiz__form-step_callback .quiz__form-step-title {
    margin-bottom: 35px;
    margin-top: 0;
    font-size: 28px; }
  .quiz__form-step_callback .quiz__form-step-subtitle {
    margin-bottom: 70px;
    font-size: 18px; }
  .quiz__form-step_callback .quiz__form-btn {
    margin-bottom: 36px;
    font-size: 21px; }
    .quiz__form-step_callback .quiz__form-btn:last-of-type {
      margin-bottom: 0; }
  .quiz__content {
    padding: 0px 35px 190px 35px; }
  .quiz__form-name {
    font-size: 16px; }
  .quiz__form-input {
    font-size: 14px;
    padding: 10px 0; }
  .quiz__form-submit {
    font-size: 16px; }
  .quiz__footer {
    left: 0;
    width: 100%;
    padding: 0 35px;
    bottom: 45px; }
  .quiz__footer-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin-top: 15px;
    width: 100%; }
  .quiz__footer-prev {
    display: block;
    opacity: 0;
    font-size: 21px;
    line-height: 96%;
    margin-right: 0;
    margin-top: 35px; }
    .quiz__footer-prev.visible {
      display: block;
      opacity: 1; }
      .quiz__footer-prev.visible:after {
        width: 140px;
        -webkit-transition: 0s;
        transition: 0s;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        right: 0;
        left: -35px;
        margin: auto; }
    .quiz__footer-prev:after {
      content: ''; }
    .quiz__footer-prev:hover:after {
      display: none; }
  .quiz__footer-next {
    font-size: 21px;
    line-height: 96%;
    background: rgba(217, 217, 217, 0.7);
    display: block;
    width: 100%;
    max-width: none; }
    .quiz__footer-next:hover {
      background: rgba(217, 217, 217, 0.7); } }

@media screen and (max-width: 460px) {
  .quiz__advantages_mobile {
    max-width: 388px; }
    .quiz__advantages_mobile .slick-slide {
      max-width: 210px; }
      .quiz__advantages_mobile .slick-slide:nth-of-type(1) {
        -webkit-transform: translateX(0);
        transform: translateX(0); }
      .quiz__advantages_mobile .slick-slide:nth-of-type(2) {
        -webkit-transform: translateX(-173px) scale(0.9);
        transform: translateX(-173px) scale(0.9); }
      .quiz__advantages_mobile .slick-slide:nth-of-type(3) {
        -webkit-transform: translateX(-346px) scale(0.8);
        transform: translateX(-346px) scale(0.8); }
      .quiz__advantages_mobile .slick-slide:nth-of-type(4) {
        -webkit-transform: translateX(-519px) scale(0.7);
        transform: translateX(-519px) scale(0.7); }
      .quiz__advantages_mobile .slick-slide:nth-of-type(5) {
        -webkit-transform: translateX(-692px) scale(0.6);
        transform: translateX(-692px) scale(0.6); }
      .quiz__advantages_mobile .slick-slide.first {
        -webkit-transform: translateX(0);
        transform: translateX(0); }
      .quiz__advantages_mobile .slick-slide.second {
        -webkit-transform: translateX(-173px) scale(0.9);
        transform: translateX(-173px) scale(0.9); }
      .quiz__advantages_mobile .slick-slide.third {
        -webkit-transform: translateX(-346px) scale(0.8);
        transform: translateX(-346px) scale(0.8); }
      .quiz__advantages_mobile .slick-slide.fourth {
        -webkit-transform: translateX(-519px) scale(0.7);
        transform: translateX(-519px) scale(0.7); }
      .quiz__advantages_mobile .slick-slide.fifth {
        -webkit-transform: translateX(-692px) scale(0.6);
        transform: translateX(-692px) scale(0.6); }
    .quiz__advantages_mobile .quiz__advantages__item {
      height: 266px; }
    .quiz__advantages_mobile .quiz__advantages__item__number {
      padding-bottom: 0;
      font-size: 120px; }
    .quiz__advantages_mobile .quiz__advantages__item__text {
      font-size: 18px;
      height: 120px; } }

.quiz-thanks {
  background-image: url(../img/intro-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh; }
  .quiz-thanks:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(18, 18, 17, 0.9); }
  .quiz-thanks__wrap {
    position: relative;
    z-index: 1;
    min-height: 100vh; }
  .quiz-thanks__header {
    padding: 60px 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    position: relative;
    z-index: 1; }
  .quiz-thanks__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: calc(100vh - 143px); }
  .quiz-thanks__title {
    color: #FBFBFB;
    font-size: 38px;
    line-height: 100%;
    font-weight: 700; }
  .quiz-thanks__text {
    color: #FBFBFB;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center; }

@media screen and (max-width: 576px) {
  .quiz-thanks__header {
    padding: 36px 0 30px; }
  .quiz-thanks__content {
    min-height: calc(100vh - 119px); } }

/*# sourceMappingURL=style.css.map */
